body {
    background-color: lightblue;
/* Este no se cumplirá porque se contradice con la hoja de estilo interna */
    text-align: justify;
    font: arial;
}

h1 {
    background-color: lightblue;
    color: navy;
    text-align: center;
    text-shadow: 1px 1px red;
}

h4 {
    margin-left: 200px;
    margin-right: 200px;
}

table {
    width: 300px
}

th {
    height: 35px;
    background-color: rgb(255, 83, 13);
    color: white;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

td {
    text-align: center;
}

a {
    color: rgb(40, 232, 12);
    text-decoration: none;
}

